/*Match Scouting Report Page css*/
body{
    background-color:#c41717;
}

.Header{
    font-size:50px;
    text-align: center;
    text-decoration: underline;
    color:#c41717;
    font-family:Georgia, serif;
}

div{
    text-align: left;
    color:#282828;
    font-family: Georgia, serif;
    position:absolute;
}

button{
    color:#c41717;
    font-family:Georgia, serif;
    font-size:18px;
    padding:5px 25px;
    text-align: center;
    position:absolute;
    text-decoration:underline;
    border-radius:10%;
    background-color:#282828;
    border-color:#282828;
}
button:hover{
    background-color:white;
    border-color:white;
}
a{
    color:#c41717;
}